<!-- Main Container -->
<div class="container">
  <!-- Add/Edit Event Title -->
  <div class="section-title">
    <h1>Add/Edit Event</h1>
  </div>
  <!-- Form -->
  <div class="form">
    <form novalidate
    [formGroup]="addEditForm"
    #fform="ngForm"
    (ngSubmit)="onSubmit()"
    *ngIf="addEditForm">
      <!-- Title Field -->
      <mat-form-field>
        <input matInput placeholder="Title" type="text" formControlName="title"/>
      </mat-form-field>
      <!-- Date Field -->
      <mat-form-field>
        <input matInput placeholder="Date" type="date" formControlName="date"/>
      </mat-form-field>
      <!-- Location Field -->
      <mat-form-field>
        <input matInput
              placeholder="Location"
              type="text"
              formControlName="location"/>
      </mat-form-field>
      <!-- Description Field -->
      <mat-form-field>
        <textarea matInput
                  placeholder="Description"
                  rows="4"
                  type="text"
                  formControlName="description"></textarea>
      </mat-form-field>
      <!-- Submit Button -->
      <div class="save-btn">
        <button mat-raised-button color="primary" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
