<!-- Main Container -->
<div class="container">
  <!-- Logo Container -->
  <div class="logo">
    <img src="assets/img/logo_open_eng.png" alt="Logo Accenture Custom Software Engineering">
  </div>
  <!-- Title Container -->
  <div class="title">
    <h1>Open Events</h1>
  </div>
  <!-- Subtitle Container -->
  <div class="subtitle">
    <h2>All our events</h2>
  </div>
  <!-- Message Container -->
  <div class="message">
    <p>
      A new and fresh application to host all our tech events crafted from
      Accenture Openathons
    </p>
  </div>
</div>
